.facebook {
  background: #3b5998; }

.twitter {
  background: #55acee; }

.gplus {
  background: #dd4b39; }

.instagram {
  background: #405de6; }

.vimeo {
  background: #1ab7ea; }

.pinterest {
  background: #bd081c; }

.youtube {
  background: #cd201f; }

.linkedin {
  background: #007bb6; }

.buffer {
  background: #333333; }

.mix {
  background: #fd8235; }

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

button,
input,
select,
textarea {
  font: inherit; }

/* Typography
   ========================================================================== 
*/
html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }
  html {
    font-size: 1rem; }
    @media screen and (min-width: 20rem) {
      html {
        font-size: calc(1rem + 0.5 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      html {
        font-size: 1.5rem; } }

body {
  background: #ffffff;
  color: #262626;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -ms-scroll-chaining: none;
  overscroll-behavior: none; }

a {
  color: #a6752e;
  text-decoration: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

a:hover {
  color: #a6752e;
  text-decoration: underline; }

a:active {
  color: #a6752e; }

a:focus {
  outline: 2px dotted #a6752e; }

figure,
blockquote,
p,
ul,
ol,
dl,
table,
hr {
  margin-top: 1.5rem; }

h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 2.75rem; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.1;
  margin: 0; }
  h1 {
    font-size: 1.42383rem; }
    @media screen and (min-width: 20rem) {
      h1 {
        font-size: calc(1.42383rem + 1.82349 * ((100vw - 20rem) / 220)); } }
    @media screen and (min-width: 240rem) {
      h1 {
        font-size: 3.24732rem; } }

h2 {
  font-size: 1.26562rem; }
  @media screen and (min-width: 20rem) {
    h2 {
      font-size: calc(1.26562rem + 0.33618 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h2 {
      font-size: 1.60181rem; } }

h3 {
  font-size: 1.125rem; }
  @media screen and (min-width: 20rem) {
    h3 {
      font-size: calc(1.125rem + 0.29883 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h3 {
      font-size: 1.42383rem; } }

h4 {
  font-size: 1rem; }
  @media screen and (min-width: 20rem) {
    h4 {
      font-size: calc(1rem + 0.26562 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h4 {
      font-size: 1.26562rem; } }

h5 {
  font-size: 0.88889rem; }
  @media screen and (min-width: 20rem) {
    h5 {
      font-size: calc(0.88889rem + 0.23611 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h5 {
      font-size: 1.125rem; } }

h6 {
  font-size: 0.79012rem; }
  @media screen and (min-width: 20rem) {
    h6 {
      font-size: calc(0.79012rem + 0.20988 * ((100vw - 20rem) / 220)); } }
  @media screen and (min-width: 240rem) {
    h6 {
      font-size: 1rem; } }

h1 + p {
  margin-top: 0.5rem; }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0.75rem; }

b,
strong {
  font-weight: 500; }

blockquote {
  border-left: 5px solid #a6752e;
  color: #a6752e;
  font-size: 1.125rem;
  margin: 2rem 0;
  padding: 0.75rem 0 0.75rem 1.75rem; }
  blockquote cite {
    color: #262626;
    display: block;
    font-size: 0.88889rem;
    margin-top: 0.75rem; }
    blockquote cite:before {
      content: "- "; }
  blockquote > :nth-child(1) {
    margin-top: 0; }

ul,
ol {
  margin-left: 2rem; }
  ul > li,
  ol > li {
    list-style: inherit;
    padding: 0 0 0.25rem 1rem; }

dl dt {
  font-weight: 500; }

pre {
  margin: 1.5rem 0 0;
  padding: 1.5rem 3rem;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
pre {
  background-color: #f6f6f6;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 0.79012rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap; }
  table th {
    border-bottom: 2px solid #d4d4d4;
    padding: 0.75rem 1.25rem; }
  table tr:nth-child(2n) {
    background: #f4f4f4; }
  table td {
    padding: 0.75rem 1.25rem; }

figcaption {
  clear: both;
  color: #5c5c5c;
  font-style: italic;
  font-size: 0.70233rem;
  margin: 0.75rem 0 0;
  text-align: center; }

hr {
  background: 0 0;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center; }
  hr::before {
    content: "\00b7 \00b7 \00b7";
    color: #262626;
    font-size: 1.26562rem;
    font-weight: 500;
    letter-spacing: 1rem;
    padding-left: 1rem; }

.btn, [type=button],
[type=submit],
button {
  background: none;
  border: 1px solid #b3b3b3;
  color: #262626;
  cursor: pointer;
  display: inline-block;
  font-size: 0.70233rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.5rem 1.5rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  @media all and (min-width: 20em) {
    .btn, [type=button],
    [type=submit],
    button {
      width: auto; } }
  .btn:hover, :hover[type=button],
  :hover[type=submit],
  button:hover, .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    border-color: #a6752e;
    color: #a6752e;
    text-decoration: none; }
  .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    outline: 2px dotted #a6752e; }
  .btn:disabled, :disabled[type=button],
  :disabled[type=submit],
  button:disabled {
    background-color: #f4f4f4;
    color: #5c5c5c;
    cursor: not-allowed; }
  .btn:active, :active[type=button],
  :active[type=submit],
  button:active {
    border: 1px solid #b3b3b3; }
  @media all and (max-width: 19.9375em) {
    .btn + .btn, [type=button] + .btn, [type=submit] + .btn, button + .btn, .btn + [type=button], [type=button] + [type=button], [type=submit] + [type=button], button + [type=button],
    .btn + [type=submit],
    [type=button] + [type=submit],
    [type=submit] + [type=submit],
    button + [type=submit],
    .btn + button,
    [type=button] + button,
    [type=submit] + button,
    button + button {
      margin-top: 0.5rem; } }

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

fieldset {
  border: 1px solid #b3b3b3;
  margin: 0 0 1.5rem;
  padding: 1.5rem; }
  fieldset > legend {
    margin-left: -1rem;
    padding: 0 1rem; }

legend {
  font-weight: 500;
  padding: 0; }

label {
  font-weight: 500;
  margin: 0 1rem 0.75rem 0; }

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #ffffff;
  border: none;
  border: 1px solid #b3b3b3;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media all and (min-width: 37.5em) {
    [type=text],
    [type=url],
    [type=tel],
    [type=number],
    [type=email],
    [type=search],
    textarea,
    select {
      width: auto; } }
  [type=text]:focus,
  [type=url]:focus,
  [type=tel]:focus,
  [type=number]:focus,
  [type=email]:focus,
  [type=search]:focus,
  textarea:focus,
  select:focus {
    border-color: #a6752e; }

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      background-color: #ffffff;
      border: 1px solid #b3b3b3;
      border-radius: 2px;
      content: '';
      display: inline-block;
      height: 1.25rem;
      line-height: 1.25rem;
      margin-right: 1rem;
      vertical-align: middle;
      text-align: center;
      width: 1.25rem; }
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23a6752e'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 50% 50%; }

input[type=radio] + label:before {
  border-radius: 50%; }

input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23a6752e'/%3e%3c/svg%3e"); }

[type=file] {
  margin-bottom: 1.5rem;
  width: 100%; }

select {
  max-width: 100%;
  width: auto;
  position: relative; }
  select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    background-size: 8px;
    padding-right: 3rem; }

select[multiple] {
  border: 1px solid #b3b3b3;
  padding: 1.5rem;
  width: 100%; }
  select[multiple]:hover {
    border-color: #b3b3b3; }
  select[multiple]:focus {
    border-color: #a6752e; }
  select[multiple]:disabled {
    background-color: #f4f4f4;
    cursor: not-allowed; }
    select[multiple]:disabled:hover {
      border-color: #b3b3b3; }

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%; }

/* Wrapper + Header ------------------------ */
.container {
  max-width: 100%; }

.content {
  background: #ffffff;
  margin-left: 0;
  min-height: 100vh;
  position: relative;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  width: 100%; }
  @media all and (max-width: 56.1875em) {
    .content > header {
      border-bottom: 1px solid #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 4%;
      position: absolute;
      top: 0;
      width: 92%;
      z-index: 1; } }
  .content.is-open {
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
    will-change: transform; }

.top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.25rem;
  overflow: hidden;
  width: 32%;
  z-index: 2; }
  @media all and (min-width: 56.25em) {
    .top {
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      margin: 0 4%;
      position: fixed; } }
  @media all and (min-width: 112.5em) {
    .top {
      width: 42% !important; } }
  .top--right {
    border-color: #d4d4d4 !important;
    position: absolute;
    right: 0;
    width: 52%; }

@media all and (min-width: 56.25em) {
  .is-sticky {
    background: #ffffff;
    position: fixed !important;
    right: 0;
    -webkit-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease; } }

/* Logo ------------------------ */
.logo {
  color: #ffffff !important;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none !important; }
  .logo:focus {
    outline: none; }

/* Navigation ------------------------ */
.menu {
  background: #262626;
  bottom: 0;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px; }
  .menu > ul {
    margin: 3rem 2rem; }
    .menu > ul li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: gray;
      font-size: 1rem;
      letter-spacing: 1px;
      list-style: none;
      padding: 0.5rem 0;
      text-transform: uppercase; }
      @media all and (min-width: 56.25em) {
        .menu > ul li {
          font-size: 0.70233rem; } }
      .menu > ul li > a {
        color: gray; }
        .menu > ul li > a:hover {
          color: #ffffff;
          text-decoration: none; }
      .menu > ul li.active {
        color: #ffffff; }
        .menu > ul li.active > a {
          color: #ffffff; }
      .menu > ul li ul {
        margin: 0.75rem 0 1rem; }
      .menu > ul li li {
        border: none;
        padding: 0.25rem 0;
        text-transform: none; }
  .menu__close {
    border: none;
    height: 1.3rem;
    display: inline-block;
    position: absolute;
    right: 2rem;
    overflow: hidden;
    text-indent: -99999rem;
    top: 2rem;
    width: 1.3rem; }
    .menu__close::before, .menu__close::after {
      background: #d4d4d4;
      content: '';
      right: 0;
      height: 2px;
      position: absolute;
      top: 50%;
      width: 1.3rem;
      -webkit-transition: all 0.12s linear 0s;
      -o-transition: all 0.12s linear 0s;
      transition: all 0.12s linear 0s; }
    .menu__close::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu__close::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .menu__close:hover::before, .menu__close:hover::after {
      background: #a6752e; }
    .menu__close:active, .menu__close:focus {
      border: none;
      outline: none; }

.menu-toggle {
  background: none;
  border: none;
  border-top: 3px solid #262626;
  border-bottom: 3px solid #262626;
  display: inline-block;
  height: 15px;
  margin: 0 3px 0 auto;
  padding: 0;
  position: relative;
  text-indent: -99999rem;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 1.2rem;
  z-index: 3; }
  @media all and (max-width: 56.1875em) {
    .menu-toggle {
      border-color: #d4d4d4; } }
  .menu-toggle:before {
    border-top: 3px solid #262626;
    content: "";
    left: 0px;
    position: absolute;
    top: 3px;
    width: 100%; }
  .menu-toggle:hover {
    opacity: 0.4;
    border-color: #262626; }
  .menu-toggle:focus, .menu-toggle:active {
    outline: none;
    border: none;
    border-top: 3px solid #262626;
    border-bottom: 3px solid #262626; }
  @media all and (max-width: 56.1875em) {
    .menu-toggle:before, .menu-toggle:hover, .menu-toggle:focus, .menu-toggle:active {
      border-color: #d4d4d4; } }

.main:after {
  content: " ";
  display: block;
  clear: both; }

.main article:after {
  content: " ";
  display: block;
  clear: both; }

.main__left {
  background: #000000;
  min-height: 40vh;
  position: relative; }
  @media all and (min-width: 56.25em) {
    .main__left {
      height: 100vh;
      position: fixed;
      top: 0;
      width: 40vw; } }
  @media all and (min-width: 112.5em) {
    .main__left {
      width: 50vw; } }
  .main__left > header {
    color: #ffffff;
    padding: 0 4%;
    position: absolute;
    top: 9rem;
    z-index: 2; }
    @media all and (min-width: 56.25em) and (max-width: 112.4375em) {
      .main__left > header {
        padding: 0 10%; } }
    @media all and (min-width: 112.5em) {
      .main__left > header {
        padding: 0 8%; } }
    .main__left > header a {
      color: #ffffff;
      text-decoration: none;
      -webkit-transition: all 0.12s linear 0s;
      -o-transition: all 0.12s linear 0s;
      transition: all 0.12s linear 0s; }
    .main__left > header a:hover {
      color: #ffffff;
      text-decoration: underline; }
    .main__left > header a:active {
      color: #ffffff; }
    .main__left > header a:focus {
      outline: 2px dotted #a6752e; }

.main__right,
.main .tank {
  margin-top: 3.75rem;
  padding: 0 4%; }
  @media all and (min-width: 56.25em) {
    .main__right,
    .main .tank {
      clear: right;
      float: right;
      height: 100%;
      margin-top: 9rem;
      width: 60%; } }
  @media all and (min-width: 112.5em) {
    .main__right,
    .main .tank {
      width: 50%; } }
  .main__right > div,
  .main .tank > div {
    max-width: 36.666rem; }
    @media all and (min-width: 37.5em) and (max-width: 56.1875em) {
      .main__right > div,
      .main .tank > div {
        margin: 0 auto; } }
    .main__right > div > :nth-child(1),
    .main .tank > div > :nth-child(1) {
      margin-top: 0; }

.hero {
  margin: 0;
  z-index: 1; }
  @media all and (min-width: 56.25em) {
    .hero {
      left: 0;
      position: absolute;
      top: 0; } }
  .hero > img {
    min-height: 40vh;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.8;
    width: 100vw; }
    @media all and (min-width: 56.25em) {
      .hero > img {
        height: 100vh;
        width: 40vw; } }
    @media all and (min-width: 112.5em) {
      .hero > img {
        width: 50vw; } }
  .hero__caption {
    background: #ffffff;
    display: inline-table;
    bottom: 4%;
    left: 4%;
    padding: 0 0.5rem;
    position: absolute;
    right: 4%;
    text-align: left; }
    @media all and (min-width: 56.25em) and (max-width: 112.4375em) {
      .hero__caption {
        left: 12%;
        right: 12%; } }
    @media all and (min-width: 112.5em) {
      .hero__caption {
        left: 8%;
        right: 8%; } }

.category article {
  padding-bottom: 3.75rem; }
  .category article:nth-child(1) h2 {
    margin-top: 0; }
  .category article + article {
    border-top: 1px solid #d4d4d4; }
  .category article a {
    color: #262626; }
    .category article a:hover {
      color: #a6752e;
      text-decoration: none; }

.post__image--left {
  float: left;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  max-width: 50%; }

.post__image--right {
  float: right;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  max-width: 50%; }

.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.post__video {
  height: 0;
  overflow: hidden;
  padding-top: 1.5rem;
  padding-bottom: 56.25%;
  position: relative; }
  .post__video > iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.post__meta {
  color: #5c5c5c;
  font-size: 0.70233rem;
  line-height: 3.249;
  margin: 0;
  text-transform: uppercase; }

.post__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: calc(1.5rem + 0.25vw) -4px 0;
  text-align: center; }
  .post__share > a {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0 4px;
    padding: 0.5rem;
    -webkit-transition: all 0.24s ease;
    -o-transition: all 0.24s ease;
    transition: all 0.24s ease;
    will-change: transform; }
    .post__share > a svg {
      fill: #ffffff;
      height: 0.875rem;
      pointer-events: none;
      width: 0.875rem; }
    .post__share > a:hover {
      background: #262626; }

.post__tag {
  margin-left: 0; }
  .post__tag li {
    display: inline-block;
    list-style: none;
    padding: 0rem 1rem 0 0; }
    .post__tag li > a {
      font-style: italic; }
      .post__tag li > a {
        color: #9d9d9d;
        text-decoration: none;
        -webkit-transition: all 0.12s linear 0s;
        -o-transition: all 0.12s linear 0s;
        transition: all 0.12s linear 0s; }
      .post__tag li > a:hover {
        color: #a6752e;
        text-decoration: underline; }
      .post__tag li > a:active {
        color: #a6752e; }
      .post__tag li > a:focus {
        outline: 2px dotted #a6752e; }
      .post__tag li > a:before {
        content: "# "; }

.post__bio {
  border-top: 1px solid #d4d4d4;
  font-size: 0.88889rem;
  margin-top: 4rem;
  overflow: hidden; }
  .post__bio > img {
    height: 4.5rem;
    margin-top: 3rem;
    width: 4.5rem; }
    @media all and (min-width: 37.5em) {
      .post__bio > img {
        float: left;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem; } }

.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: 0.5rem 0 0 1rem; }
  .post__toc ul li {
    counter-increment: item;
    padding: 0; }
  .post__toc ul ul {
    margin-top: 0; }
    .post__toc ul ul li {
      display: block; }
      .post__toc ul ul li:before {
        content: counters(item, ".") ". ";
        margin-left: -20px; }

.post footer:after {
  content: " ";
  display: block;
  clear: both; }

.post footer > .post__bio {
  border-top: 1px solid #d4d4d4;
  margin-top: 4rem; }

.banner--after-post {
  margin-top: 3.75rem; }

.author__bio {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 4rem;
  overflow: hidden; }
  .author__bio > img {
    height: 4.5rem;
    width: 4.5rem; }
    @media all and (min-width: 37.5em) {
      .author__bio > img {
        float: left;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem; } }
  @media all and (min-width: 37.5em) {
    .author__bio > h3 {
      margin-top: 0; } }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.msg {
  padding: 1rem 1.5rem; }
  .msg--highlight {
    background-color: #fff7e5; }
  .msg--info {
    background-color: #d9edf7; }
  .msg--success {
    background: #d5efc2; }

.dropcap:first-letter {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 4.10989rem;
  line-height: 0.7;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0; }

/* Pagination ------------------------ */
.pagination {
  border-top: 1px solid #d4d4d4;
  padding-top: 1.5rem; }
  @media all and (min-width: 56.25em) {
    .pagination {
      padding-top: 3rem; } }
  @media all and (min-width: 20em) {
    .pagination > a + a {
      margin-left: 0.5rem; } }

/* Footer ------------------------ */
.footer {
  border-top: 1px solid #d4d4d4;
  overflow: hidden;
  padding: 2rem 0;
  margin: 7.5rem 4% 0;
  text-align: center; }
  @media all and (min-width: 75em) {
    .footer {
      margin-left: 39%; } }
  @media all and (min-width: 112.5em) {
    .footer {
      margin-left: 54%; } }
  .footer__copyright {
    color: #5c5c5c;
    font-size: 0.6243rem;
    letter-spacing: 1px;
    text-transform: uppercase; }
    @media all and (max-width: 56.1875em) {
      .footer__copyright {
        padding: 0.75rem 0; } }
    @media all and (min-width: 56.25em) {
      .footer__copyright {
        float: left; } }
  @media all and (min-width: 56.25em) {
    .footer__social {
      float: right; } }
  .footer__social a:hover {
    text-decoration: none; }
  .footer .icon {
    fill: #262626;
    margin: 0 0.5rem;
    opacity: 0.6; }
    .footer .icon:hover {
      opacity: 1; }

.icon {
  display: inline-block;
  height: 0.9rem;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 0.9rem; }

.gallery {
  margin: calc(1.5rem + 1vw) -0.5rem; }
  @media all and (min-width: 20em) {
    .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media all and (min-width: 20em) {
    .gallery[data-columns="1"] .gallery__item {
      width: 100%; } }
  @media all and (min-width: 30em) {
    .gallery[data-columns="2"] .gallery__item {
      width: 50%; } }
  @media all and (min-width: 37.5em) {
    .gallery[data-columns="3"] .gallery__item {
      width: 33%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="4"] .gallery__item {
      width: 25%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="5"] .gallery__item {
      width: 20%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="6"] .gallery__item {
      width: 16.666%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="7"] .gallery__item {
      width: 14.285%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="8"] .gallery__item {
      width: 12.5%; } }
  .gallery__item {
    margin: 0;
    padding: 0.5rem; }
    @media all and (min-width: 20em) {
      .gallery__item {
        width: 50%; } }
    @media all and (min-width: 30em) {
      .gallery__item {
        width: 33.333%; } }
    @media all and (min-width: 37.5em) {
      .gallery__item {
        width: 25%; } }
    .gallery__item img {
      display: block;
      width: 100%; }

.pswp--dark .pswp__bg {
  background: #000000; }

.pswp--light .pswp__bg {
  background: #ffffff; }

.pswp--light .pswp__counter {
  color: #262626; }

.pswp--light .pswp__caption__center {
  color: #262626; }

/*# sourceMappingURL=main.css.map */